@import '../mixins/mixin.scss';
@import '../mixins/config.scss';

@include b(switch) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  @include e(animate){
    transition: background-color 0.5s ease-in-out, margin 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  @include e(slider) {
    color: white;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--height) - 2px);
    width: calc(var(--height) - 2px);
    border-radius: 50%;
    background-color: var(--inactive-color);
    margin-left: 0;

    @include when(active) {
      background-color: var(--active-color);
      margin-left: calc(var(--width) - var(--height));
    }
  }

  @include e(disabled) {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @include e(wrapper) {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    border: 1px solid var(--border-color);
    background-color: rgb(240, 242, 245);
    cursor: pointer;
  }
}
