.cx-tab {
  box-sizing: border-box;

  &.level-1_bottom_line {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  }

  &.level-2_bottom_line,
  &.level-3_bottom_line,
  &.level-3_bottom_line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}

.cx-tab_scroll_wrapper {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .cx-tab_content_wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .cx-tab_item {
    position: relative;
    flex-wrap: nowrap;
    min-width: max-content;

    .cx-tab_badge_1 {
      display: inline-block;
      position: relative;
      height: 20px;
      min-width: 20px;
      line-height: 18px;
      padding: 0px 5px;
      text-align: center;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: #f9463f;
      font-size: 12px;
      color: #fff;
      margin-left: 5px;

      span {
        zoom: 0.9;
      }
    }

    .cx-tab_badge_2,
    .cx-tab_badge_3,
    .cx-tab_badge_4 {
      display: inline-block;
      position: relative;
      margin-left: 5px;
      height: 20px;
      min-width: 20px;
      line-height: 18px;
      padding: 0px 5px;
      text-align: center;
      border-radius: 10px;
      box-sizing: border-box;
      transform: translate(0, -1px);
      background-color: #f9463f;
      font-size: 12px;
      color: #fff;

      span {
        zoom: 0.9;
      }
    }
  }

  &.level-1_wrapper {
    max-width: calc(100% + 40px);
    padding: 0 20px;
    margin: -20px -20px 0 -20px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    z-index: 100;

    .cx-tab_item {
      display: inline-block;
      padding: 0 24px;
      line-height: 42px;
      height: 42px;
      font-size: 16px;

      &.cx-tab_item_active {
        color: #{$color-primary};
        background: #fafafa;
      }
    }
  }

  &.level-2_wrapper {
    max-width: 100%;

    .cx-tab_item {
      padding: 0 18px;
      height: 42px;
      line-height: 42px;
      font-size: 14px;

      &.cx-tab_item_active {
        color: #{$color-primary};
      }
    }
  }

  &.level-3_wrapper {
    padding: 0 16px;

    .cx-tab_item {
      height: 42px;
      font-size: 14px;
      padding: 0 18px;
      background-color: #f9fafc;
      border-radius: 4px 4px 0 0;
      margin-right: 6px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      transform: translateY(1px);
      z-index: 100;

      &.cx-tab_item_active {
        border-bottom-color: rgba(0, 0, 0, 0.08);
      }
    }
  }

  &.level-4_wrapper {
    background-color: #f5f5f5;
    width: fit-content;
    padding: 2px;
    border-radius: 5px;

    .cx-tab_item {
      padding: 8px 17px;
      font-size: 14px;
      border-radius: 4px;

      &.cx-tab_item_active {
        background-color: white;
        color: #{$color-primary};
        border-color: #{$color-primary};
        z-index: 101;
      }
    }
  }

  .cx-tab_left_arrow,
  .cx-tab_right_arrow {
    position: absolute;
    height: 100%;
    width: 20px;
    top: 0;
    background-color: #fff;
    cursor: pointer;
    z-index: 300;
  }

  .cx-tab_left_arrow {
    left: 0px;
  }

  .cx-tab_right_arrow {
    right: 0px;
  }

  .cx-tabs {
    display: flex;
  }

  .cx-tab_item {
    text-align: center;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    transition: all 0.2s ease-in-out;

    &.cx-tab_item_active {
      color: #{$color-primary};
    }

    &:hover {
      color: #{$color-primary};
    }
  }
}

.cx-tab_disabled {
  .cx-tab_item {
    cursor: not-allowed !important;
  }
}

.cx-tab_cursor {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #{$color-primary};
  transition: all 0.2s ease-in-out;
  bottom: 0;
}

.cx-tab_wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  overflow: hidden;
  word-break: keep-all;
  transition: all 0.2s ease-in-out;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}
