$table-head-bg-color: #f5f5f5;
$color-primary: #0084ff;

@mixin cx-table-head {
  background-color: $table-head-bg-color;
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px;
  .ellipsis::before {
    background-color: $table-head-bg-color;
  }
}

.cx-table_wrapper {
  position: relative;
  overflow: hidden;
  /* 整个滚动条 */
  ::-webkit-scrollbar {
    width: calc(var(--scrollWidth) * 1px) !important;
    height: calc(var(--scrollWidth) * 1px) !important;
  }

  /* 滚动条滑块(竖向:vertical 横向:horizontal) */
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: rgb(217, 217, 217);
    border-radius: 5px;
  }

  /* 滚动条滑块hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(191, 191, 191);
  }

  /* 滚动条有滑块的轨道部分 */
  ::-webkit-scrollbar-track-piece {
    background-color: #eee;
    border-radius: 5px;
  }

  .cx-table_head {
    &.cx-table__sticky {
      position: fixed !important;
      z-index: 100 !important;
      overflow: hidden !important;
      top: calc(var(--sticky-top) * 1px) !important;

      &.cx-table_center {
        width: calc(var(--sticky-width) * 1px) !important;
        left: calc(var(--sticky-left) * 1px) !important
      }

      &.cx-table_fixed_left {
        left: calc(var(--sticky-left) * 1px) !important
      }

      &.cx-table_fixed_right {
        right: calc(100vw - var(--sticky-right) * 1px) !important;
      }
    }

  }

  .cx-table_scrollWrapper {
    overflow: auto;
    position: static !important;

    table {
      border-collapse: separate !important;
      width: 100%;

      &.stripe {
        tr:nth-of-type(2n) {
          td {
            background-color: #f9fafc;

            .ellipsis::before {
              background-color: #f9fafc;
            }
          }
        }
      }

      tr {
        &.cx-table_footer {
          > td {
            @include cx-table-head;
          }
        }

        .cx-table_expand {
          overflow: auto;
        }

        &.cx-table_row_hover {
          .cx-table_hover_show {
            visibility: visible;
          }
        }

        .cx-table_hover_show {
          visibility: hidden;
        }
      }

      td,
      th {
        height: calc(var(--cellHeight) * 1px);
        max-height: calc(var(--cellHeight) * 1px);
        box-sizing: border-box;
        background-image: linear-gradient(#dfe2e9, #dfe2e9), linear-gradient(#dfe2e9, #dfe2e9);
        background-repeat: no-repeat;
        background-size: 1px 100%, 100% 1px;
        background-position: right top, right bottom;
        padding: 0;
        font-size: 14px;
        border-spacing: 0;
        border-collapse: separate;

        .cx-table_cell {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          padding: 0 calc(var(--padding) * 1px);
          box-sizing: border-box;
          max-height: calc(var(--cellHeight) * 1px);
          vertical-align: baseline;
          position: relative;

          img {
            vertical-align: middle;
          }

          input {
            border: 0 !important;
            background-color: transparent;
          }
        }
      }

      th {
        @include cx-table-head;

        span {
          @include cx-table-head;
        }
      }

      td {
        background-color: white;
        position: relative;

        .ellipsis::before {
          background-color: #fff;
        }

        &.actived {
          box-shadow: inset 0 0 0 2px $color-primary;
        }

        &.wrong::after {
          position: absolute;
          left: 3px;
          top: 3px;
          width: 5px;
          height: 5px;
          font-family: 'iconfont' !important;
          content: '\e622';
          color: red;
        }

        input {
          font-size: 14px;
        }
      }

      &.cx-table_empty {
        position: absolute;
        left: 0;

        tr {
          height: 150px;
        }

        td {
          padding: 10px 0;
        }
      }
    }

    .cx-table_border_line {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 30;
      pointer-events: none;
      border: 1px solid #dfe2e9;
    }

    .cx-table_fixed_left {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 10;

      &.cx-table_head {
        z-index: 15;
      }

      &.cx-table_body {
        z-index: 15;
      }

      > table {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: 15;
      }
    }

    .cx-table_fixed_right {
      position: absolute;
      overflow: hidden;
      top: 0;
      right: 0;
      z-index: 5;

      &.cx-table_body {
        z-index: 15;
      }

      &.cx-table_head {
        z-index: 15;
      }

      > table {
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        z-index: 15;
      }
    }

    .cx-table_fixed_top {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 10;

      > table {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }

    .cx-table_fixed_bottom {
      position: absolute;
      overflow: hidden;
      bottom: 0;
      left: 0;
      height: calc(var(--cellHeight) * 1px);
      z-index: 15;

      > table {
        position: absolute;
        overflow: hidden;
        z-index: 15;
        left: 0;
        top: 0;
      }
    }
  }

  .cx-table_left_shadow,
  .cx-table_right_shadow,
  .cx-table_top_shadow,
  .cx-table_bottom_shadow {
    box-shadow: 0px 2px 12px 0 rgba(0, 0, 0, 0.1);
  }

  .cx-table_right_shadow {
    border-left: 1px solid #d9d9d9;
  }

  .cx-table_bottom_shadow {
    border-top: 1px solid #d9d9d9;
  }

  table tbody tr.active td {
    background-color: #f0f5ff !important;

    .ellipsis::before {
      background-color: #f0f5ff;
    }
  }

  .el-radio {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .el-radio__label {
    display: none;
  }

  .cx-table_expand_switch {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    font-size: 12px;

    &.cx-table_expand_active {
      transform: rotate(180deg);
    }
  }

  .cx-table_add_btn {
    border: 1px dashed $color-primary !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $color-primary;
    margin: 10px 0;
  }

  .cx-table_sort {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &::before,
    &::after {
      width: 0;
      height: 0;
      content: '';
      border-width: 5px;
      border-color: transparent;
      border-style: solid;
    }

    &::after {
      border-top-color: #ddd;
    }

    &::before {
      transform: translateY(-6px);
      border-bottom-color: #ddd;
    }
  }

  .cx-table_sort_positive {
    &::after {
      border-top-color: $color-primary !important;
    }
  }

  .cx-table_sort_reverse {
    &::before {
      border-bottom-color: $color-primary !important;
    }
  }
}

.cx-table_tele_form {
  label.el-form-item__label {
    padding: 0;
  }
}

.cx-table_wrong_msg {
  color: #fff !important;
  background-color: #f56c6c !important;

  .cx-uni-popper__arrow::before {
    background: #f56c6c;
  }
}
