$color-map: (
        success:($color-primary, #E6F7FF, #7ACCFF),
        danger:(#F5222D, #FFF1F0, #FFA39E),
        primary:(#67c23a, #f0f9eb, #e1f3d8),
        info:(#2F54EB, #F0F5FF, #ADC6FF),
        cyan:(#13C2C2, #E6FFFB, #87E8DE),
        orange:(#FA8C16, #FFF7E6, #FFD591),
        dark-orange:(#FA541C, #FFF2E8, #FFBB96),
        purple:(#722ED1, #F9F0FF, #D3ADF7),
        gray:(#000000, #FAFAFA, #D9D9D9)
);

$color-name-map: map-merge($color-map, (
        blue:map-get($color-map, success),
        red:map-get($color-map, danger),
        green:map-get($color-map, primary),
        geekblue:map-get($color-map, info)
));


@include b(tag) {
  background-color: #e6f3ff;
  border-color: #cce6ff;
  color: $color-primary;
  display: inline-block;
  font-size: 12px;
  color: $color-primary;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  box-sizing: border-box;
  white-space: nowrap;

  @include e(small) {
    padding: 1px 8px;
    line-height: 18px;
    height: 22px;
  }

  @each $key, $val in $color-name-map {
    @include e($key) {
      color: nth($val, 1);
      background-color: nth($val, 2);
      border-color: nth($val, 3);
    }
  }
}
