.cx_uni_popper {
  position: absolute;
  z-index: 2500;
  background-color: rgba(28, 28, 28, 1);
  max-width: 250px;
  word-break: break-all;
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  animation: show 0.6s;
}

.hover_bg_black_75:hover {
  background-color: rgba(67, 67, 67, 1) !important;
}
