@include b(uni-popper) {
  position: absolute;
  z-index: 2500;
  background-color: #1c1c1c;
  max-width: 250px;
  word-break: break-all;
  opacity: 0.75;
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.75;
    }
  }
  animation: show 0.6s;

  @include e(arrow) {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: -1;

    &::before {
      background: #1c1c1c;
      position: absolute;
      width: 10px;
      height: 10px;
      z-index: -1;
      content: ' ';
      transform: rotate(45deg);
      box-sizing: border-box;
    }
  }

  $arrow-selector: #{& + '__arrow'};

  $placements: (
          'top': 'bottom',
          'bottom': 'top',
          'left': 'right',
          'right': 'left',
  );

  @each $placement, $opposite in $placements {
    &[data-popper-placement^='#{$placement}'] > #{$arrow-selector} {
      #{$opposite}: -5px;
    }
  }

  @each $placement,
  $adjacency in ('top': 'left', 'bottom': 'right', 'left': 'bottom', 'right': 'top') {
    &[data-popper-placement^='#{$placement}'] {
      #{$arrow-selector}::before {
        border-#{$placement}-color: transparent;
        border-#{$adjacency}-color: transparent;
      }
    }
  }
}

.hover_bg_black_75:hover {
  background-color: rgb(67, 67, 67) !important;
}

*[data-popper-reference-hidden] {
  visibility: hidden;
}
