@import url('//at.alicdn.com/t/font_2898473_dq736hhqtf.css');

* {
  margin: 0;
  padding: 0;
}

table {
  margin: 0;
  border-spacing: 0;
}

th, td {
  border: 0;
}

.platform {
  display: flex;
  align-items: center;
  margin: 16px;
  gap: 12px;
}


